.jumbotron{
    background: #ececec;
    color:white;
    width: 110%;
    margin-top: 2%;
    min-height: 40vw;
}

#jumbo {
  padding-right:0px;
}

.file-path-wrapper{
    width:10vw;
}

.input-group{
    width:20vw;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
	
.header img{
    width: 13%;
    float: left;
    position: absolute;
}

.firstline .avatar{
    border-radius: 50%;   
    width: 17vw;
    height: 17vw;
    margin-left: 2%;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}
.firstline{
    width: 50%;
}

.firstline:hover .avatar{
    opacity: 0.3;
}

.firstline:hover .middle {
  opacity: 1;
}

.file-field{
    width:50%;
    text-align: left;
}

#button2{
    font-size: 0.6rem;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    height: 3vw;
}

#button{
    font-size: 1.2vw;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    line-height: 0;
    height: 3vw;
}

#searchbutton{
    font-size: 1.2vw;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    line-height: 0;
    height: 3vw;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: -15%;
    margin-left: 2%;
}

.text{
   display: inline-block;  
    font-size: 1.5vw;
    color: black;
    text-align: center;
    width:50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 10px;
  color: #444;
}

.box {
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 10px;
    padding: 43%;
    font-size: 150%;
}

.box:hover{
    opacity: 0.3;
}

.picform{
    color: black;
    display: flex;
    align-items: center;
    float: right;
    padding-right: 9.2vw;
}

.formclass img{
    width: 20%;
    float: left;
}

.connect{
    display: inline-flex;
    align-items: center;
}
.messageid{
    width:50%;
    font-size: 2vw;
}
#fileuploadfield{
    width:100%;
}

.picupload{
    font-size: 2vw;
    font-weight: bold;
}

#messageResult{
    color: darkcyan;
    font-weight: bold;
    font-size: 1.5vw;
}
